{% load static %}
<!doctype HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/custom.css'%}">
    <script src="https://kit.fontawesome.com/37c2e23523.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    
    <div class="superNav border-bottom py-2 ">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><strong>komuononado@inbox.com</strong></span>
                <span class="me-2"><i class="fa-solid fa-phone me-3 text-primary"></i> <strong>+7 444 444 44 44 </strong></span>
                
            </div>
               
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
        <div class="container">
          <a class="navbar-brand" href="/index"><i class="fa-solid fa-snowflake me-2"></i> <strong>АТЛАНТ</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
            <div class="input-group">
              <span class="border-primary input-group-text bg-primary text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
              <input type="text" class="form-control border-primary" style="color:#000000">
              <button class="btn btn-primary text-white">Поиск</button>
            </div>
          </div>
          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <div class="ms-auto d-none d-lg-block">
              <div class="input-group">
                <span class="input-group-text bg-primary text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control " style="color:#000000">
                <button class="btn btn-primary text-white">Поиск</button>
              </div>
            </div>
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="/orders">Заказы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase" href="/categories">Каталог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase" href="#">Избранное</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase" href="/cart"><i class="fa-solid fa-cart-shopping me-1"></i> Корзина</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2 text-uppercase" href="/profile"><i class="fa-solid fa-circle-user me-1"></i> Аккаунт</a>
              </li>
              <li class="nav-item">
                
              </li>
            </ul>
          </div>
        </div>
      </nav>
    

    

      
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-3 mb-3">
                <img src="static\main\img\Cwerk.png" alt="dog" height="75px" width="75px">
            </div>
    
            <div class="col-12 col-md-3 mb-3">
                <h5>О компании</h5>
                <ul>
                    <li><a href="#"class="td-0">Новости</a></li>
                    <li><a href="#"class="td-0">Контакты</a></li>
                    <li><a href="#"class="td-0">Статьи</a></li>
                </ul>
            </div>
    
            <div class="col-12 col-md-3 mb-3">
                <h5>Популярные категории</h5>
                <ul>
                    <li><a href="#" class="td-0">Фантастика</a></li>
                    <li><a href="#" class="td-0">Хорор</a></li>
                    <li><a href="#" class="td-0">Биография</a></li>
                </ul>
            </div>
    
            <div class="col-12 col-md-3 mb-3">
                <h5>Контакты</h5>
                <p>Телефон: +7 (800) 555-3535</p>
                <p>Email: notworkingpost@gmail.com</p>
            </div>
        </div>
    </footer>
</body>
</html>