{% extends 'main/layout.html' %}

{% block content %}
    {% include 'main/test.html' %}
        <section class="container d-flex mt-5">
            <aside class="aside col-2 container">
                <div class="d-flex flex-column mb-5">
                    <h5>Личный кабинет</h5>
                    <a href="#" class="td-0 button__profile">profile=name</a>
                    <a href="#" class="td-0 button__profile">Доставка</a>
                    <a href="#" class="td-0 button__profile">Мои достижения</a>
                    <a href="#" class="td-0 button__profile">Избранное</a>
                    <a href="#" class="td-0 button__profile">Мои покупки</a>
                </div>

                <div class="d-flex flex-column mb-5">
                    <h5>Бонусный клуб</h5>
                    <a href="#" class="td-0 button__profile">Бонусы</a>
                    <a href="#" class="td-0 button__profile">Карта бонусного клуба</a>
                    <a href="#" class="td-0 button__profile">Купоны</a>
                </div>

                <div class="d-flex flex-column">
                    <h5>Сервисы</h5>
                    <a href="#" class="td-0 button__profile">Мои отзывы о товарах</a>
                    <a href="#" class="td-0 button__profile">Подарочные сертификаты</a>
                    <a href="#" class="td-0 button__profile">Вопросы и ответы</a>
                    <a href="#" class="td-0 button__profile">Пункты самовывоза</a>
                    <a href="#" class="td-0 button__profile" class="td-0">Выйти</a>
                </div>
            </aside>
            <section class="container">
                <h4 class="mb-3">Профиль</h4>
                <div class="nav">
                    <div class="profile__bio col-5">
                        <h5 class="profile__bio__name">Ваша личная информация</h5>
                        <form name="search" action="#" method="get" claa="row ml-3">
                          <input type="text" name="search" placeholder="Имя" class="form-control mb-2">
                        </form>
                        <form name="search" action="#" method="get" claa="row ml-3">
                            <input type="text" name="search" placeholder="Фамилия" class="form-control  mb-2">
                        </form>
                        <form name="search" action="#" method="get" claa="row ml-3">
                            <input type="text" name="search" placeholder="Отчество" class="form-control  mb-2">
                        </form>
                        <form name="search" action="#" method="get" claa="row ml-3">
                            <input type="text" name="search" placeholder="Email" class="form-control  mb-2">
                        </form>
                        <form name="search" action="#" method="get" claa="row ml-3">
                            <input type="text" name="search" placeholder="Мобильный телефон" class="form-control mb-2">
                        </form>
                        <form name="search" action="#" method="get" claa="row ml-3">
                            <input type="text" name="search" placeholder="Дата рождения" class="form-control  mb-2">
                        </form>
                    </div>
    
                    <div class="profile__bio__second col-5">
                        <div class="profile__bio mb-3">
                            <h5 class="profile__bio__name">Безопасность</h5>
                             <form name="search" action="#" method="get" claa="row ml-3">
                                <input type="text" name="search" placeholder="Изменить пароль" class="form-control mb-2">
                            </form>
                        </div>
        
                        <div class="profile__bio mb-3">
                            <h5 class="profile__bio__name">Мобильный номер</h5>
                            <form name="search" action="#" method="get" claa="row ml-3">
                                <input type="text" name="search" placeholder="Изменить номер телефона" class="form-control mb-2">
                            </form>
                        </div>
                        
                        <div class="profile__bio mb-3">
                            <h5 class="profile__bio__name">Электронная почта</h5>
                            <form name="search" action="#" method="get" claa="row ml-3">
                                <input type="text" name="search" placeholder="Изменить Email" class="form-control mb-2">
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    {% endblock %}