{% extends 'main/layout.html' %}
{% block content %}
<div class="sidebar col-md-3 ">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
        Персональный раздел
        </a>
        <a href="#" class="list-group-item list-group-item-action">Заказы</a>
        <a href="#" class="list-group-item list-group-item-action">Корзина</a>
        <a href="#" class="list-group-item list-group-item-action">Избранное</a>
        <a href="#" class="list-group-item list-group-item-action">Мои заказы</a>
        <a href="#" class="list-group-item list-group-item-action">Мои отзывы</a>
        <a href="#" class="list-group-item list-group-item-action">Личные данные</a>
      </div>
</div>
{% block profile %}
{% endblock %}
{% endblock %}